.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px;
  color: #F5F5F5;
  text-align: center;
  background: #4EE2EC;
}

.container-first {
  margin-top: 70px;
}

.navbar-text {
  margin-left: 15px;
}

.header-img {
  max-height: 150px;
}

.filters {
  margin-bottom: 25px;
}

.margin-top-30 {
  margin-top: 70px;
}

.margin-top-10 {
  margin-top: 10px;
}

.object-picker {
  font-size: 16px;
  color: #777777;
  font-family: Verdana, Geneva, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}


/*TODO: only add left margin if screen width is greater than x */

.margin-left-350 {
  margin-left: 350px !important;
  margin-right: 10px !important;
}

.blue-underline {
  color: #4EE2EC;
  text-decoration: underline;
  cursor: pointer;
}

.big-bold {
  font-size: 18px;
  font-weight: bold;
}

.line-height-25px {
  line-height: 25px;
}

.footer {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
}

.object-info {
  margin-left: 40px;
  color: #777;
}

.angular-google-map-container {
  height: 400px;
}

.date-filter {
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-panel {
  /*background-color: rgba(119, 119, 119, 0.9);*/
  background-color: #FFFFFF;
  overflow-y: scroll;
  border-right: 1px solid #b7b7b7;
}

.close-panel-btn {
  float: right;
  margin-right: 15px;
  cursor: pointer;
  color: #777777;
  font-size: 16px;
}

.close-panel-btn:hover {
  font-size: 18px;
}

.filter-btn {
  cursor: pointer;
  line-height: 20px;
}

.filter-btn i {
  font-size: 16px;
}

.filter-section-header {
  border-bottom: 1px solid #b3b3b3;
  margin-top: 20px;
  color: #777777;
  font-family: Verdana, Geneva, sans-serif;
}

.filter-body {
  color: #777777;
  font-family: Verdana, Geneva, sans-serif;
  margin-left: 15px;
}

.page-header {
  color: #b3b3b3;
  font-family: Verdana, Geneva, sans-serif;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #4EE2EC !important;
  border-color: #4EE2EC !important;
  color: #FFFFFF !important;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover, .pagination>li>a, .pagination>li>span {
  color: #4EE2EC !important;
}
