.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: fixed;
  width: 100%;
  display: block!important;
  top: 0;
  height: 50px;
  line-height: 50px;
  color: #F5F5F5;
  text-align: center;
  background: #4EE2EC;
  z-index: 20;
}

.float-left {
  float: left;
}

.navbar-list {
  height: 70px;
}

.header {
  color: #777777;
}

.container-first {
  margin-top: 70px;
}

.navbar-text {
  margin-left: 15px;
}

.header-img {
  max-height: 150px;
}

.filters {
  margin-bottom: 25px;
}

.margin-top-30 {
  margin-top: 70px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.table-footer {
  color: #777777;
  margin-bottom: 10px;
  margin-top: 10px;
}

.nav {
  margin-left: 15px;
  margin-right: 15px;
}

.object-picker {
  font-size: 16px;
  color: #777777;
  font-family: Verdana, Geneva, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}


/*TODO: only add left margin if screen width is greater than x */

.margin-left-350 {
  margin-left: 350px !important;
  margin-right: 10px !important;
}

.blue-underline {
  color: #4EE2EC;
  text-decoration: underline;
  cursor: pointer;
}

.big-bold {
  font-size: 18px;
  font-weight: bold;
}

.line-height-25px {
  line-height: 25px;
}

.footer {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 25px;
  color: #777777;
  text-align: center;
  vertical-align: middle;
}

.object-info {
  margin-left: 40px;
  color: #777;
}

.angular-google-map-container {
  height: 400px;
}

.date-filter {
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-panel {
  /*background-color: rgba(119, 119, 119, 0.9);*/
  background-color: #FFFFFF;
  overflow-y: scroll;
  border-right: 1px solid #b7b7b7;
}

.close-panel-btn {
  float: right;
  margin-right: 15px;
  cursor: pointer;
  color: #777777;
  font-size: 16px;
}

.close-panel-btn:hover {
  font-size: 18px;
}

.data-container {
  padding-right: 15px;
  padding-left: 15px;
}

.max-width-50 {
  max-width: 50px;
  background-color: #b3b3b3;
}

.max-width-100 {
  max-width: 100px;
}

.filter-btn {
  cursor: pointer;
  line-height: 20px;
  cursor: pointer;
  color: #ffffff;
  line-height: 50px !important;
}

.filter-btn i {
  font-size: 16px;
  width: 100%;
  top: 0;
  height: 70px;
  color: #F5F5F5;
  text-align: center;
  background: #4EE2EC;
}

.float-right {
  float: right;
}

.filter-section-header {
  border-bottom: 1px solid #b3b3b3;
  margin-top: 20px;
  color: #777777;
  font-family: Verdana, Geneva, sans-serif;
}

.nearby-admin {
  color: #FFFFFF;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
}

.filter-body {
  color: #777777;
  font-family: Verdana, Geneva, sans-serif;
  margin-left: 15px;
}

.body {
  color: #777777;
}

.page-header {
  color: #b3b3b3;
  font-family: Verdana, Geneva, sans-serif;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #4EE2EC !important;
  border-color: #4EE2EC !important;
  color: #FFFFFF !important;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover, .pagination>li>a, .pagination>li>span {
  color: #4EE2EC !important;
}

.filters-btn {
  width: 320px;
  background-color: #4EE2EC;
  color: #ffffff;
}

.nav-tabs>li>a {
  color: #777777;
}

.spinner {
  text-align: center;
  margin-left: 125px;
  color: #4EE2EC;
}

.row-expanded {
  background-color: #eee;
}

.flag-table {
  color: #777777;
  font-family: Verdana, Geneva, sans-serif
}

table.flag-table th {
  background-color: #b3b3b3;
  color: #ffffff;
  font-weight: normal;
}

table.flag-table td {
  cursor: pointer;
}

table.flag-table td:hover {}

table.flag-table tr:hover {
  background-color: rgba(179, 179, 179, 0.4);
}

table.flag-table th, table.flag-table td {
  padding: 10px;
  border: 1px solid #777777;
}

.flag-form-header {
  border-bottom: 1px solid #b3b3b3;
  margin-top: 10px;
  color: #777777;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
}

.nested-form-header {
  border-bottom: 1px solid #b3b3b3;
  color: #777777;
  text-transform: uppercase;
  margin: 10px;
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif;
}

.flag-detail-form {
  font-family: Verdana, Geneva, sans-serif;
  color: #777777;
}

.textarea {
  width: 100%;
  font-family: Verdana, Geneva, sans-serif;
  color: #777777;
}

.disabled-textarea {
  width: 100%;
  font-family: Verdana, Geneva, sans-serif;
  color: #555;
  background-color: #eee;
  opacity: 1;
}

.blue-btn {
  background-color: #4EE2EC;
  color: #ffffff;
  margin-left: 10px;
}

.blue-btn:hover {
  color: #ffffff !important;
}

.white-btn {
  background-color: #ffffff;
  color: #4EE2EC;
  border: 1px solid #4EE2EC !important;
}

.white-btn:hover {
  color: #4EE2EC !important;
}

.detail-form {
  max-width: 1100px;
}
