<div>
  <pageslide ps-open="data.showLeft" ps-side="left" ps-class="left-panel" ps-size="350px" ps-click-outside="false">
    <div>
      <p>
        <!--<span ng-click="data.toggleLeft()" class="close-panel-btn glyphicon glyphicon-remove"></span>-->
        <!--<i class="fa fa-times close-panel-btn" aria-hidden="true" ng-click="data.toggleLeft()"></i>-->

      </p>
      <div class="filters col-lg-12">
        <div class="filter-section-header">CREATED DATE</div>
        <div class="date-filter filter-body">
          <div moment-picker="data.filters.createdStart" format="MM/DD/YYYY HH:mm">START: <b class="blue-underline"> {{ data.filters.createdStart }} </b></div>
        </div>
        <div class="date-filter filter-body">
          <div moment-picker="data.filters.createdEnd" format="MM-DD-YYYY HH:mm">END: <b class="blue-underline"> {{ data.filters.createdEnd }}</b></div>
        </div>
        <div class="filter-section-header">LOCATION</div>
        <div class="margin-top-10" ng-if="data.mapLoaded">
          <ui-gmap-google-map center="data.map.center" zoom="data.map.zoom" draggable="true" events="data.map.events" options="data.map.options">
            <ui-gmap-marker coords="data.map.marker.coords" icon="data.map.marker.icon" idkey="data.map.marker.id"></ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
        <div class="form-group form-group-md">
          <div class="panel-label text-uppercase">latitude</div>
          <input type="text" class="form-control nav-input" ng-model="data.latitude" disabled/>
        </div>
        <div class="form-group form-group-md">
          <div class="panel-label text-uppercase">longitude</div>
          <input type="text" class="form-control nav-input" ng-model="data.longitude" disabled/>
        </div>

        <div id="bottom" class="form-group form-group-md">
          <div class="panel-label text-uppercase">proximity</div>
          <select class="form-control nav-input" ng-options="option.name for option in data.radiusOptions" ng-model="data.selectedRadius"></select>
        </div>

        <div class="">
        </div>
        <div class="margin-top-30">
          <button class="btn filters-btn" ng-click="data.filterUsers()">filter</button>
        </div>
      </div>
    </div>
  </pageslide>

  <nav class="hero-unit" ng-class="{ 'margin-left-350': data.showLeft}">
    <div class="col-md-2 max-width-50"><i class="fa fa-filter fa-lg float-left filter-btn" ng-click="data.toggleLeft()"></i></div>
    <div class="col-md-10 text-left nearby-admin">Nearby Admin</div>
  </nav>

  <div class="container-first data-container" ng-class="{ 'margin-left-350': data.showLeft}">
    <div class="row col-md-6 col-lg-6 col-sm-6 object-picker">
      Select Object:
      <select class="" ng-model="data.searchObject">
        <option ng-repeat="object in data.searchObjects">{{object}}</option>
      </select>
      <!--<div class="page-header">USERS</div>-->
    </div>
    <div class="row col-md-6 col-lg-6 col-sm-6 text-right">
      <ul uib-pagination total-items="data.pagination.total" ng-model="data.pagination.page" ng-change="data.pageChanged()" items-per-page="data.pagination.limit"></ul>
    </div>
  </div>
  <div class="data-container" ng-class="{ 'margin-left-350': data.showLeft}">
    <ul class="nav nav-tabs" ng-repeat="user in data.users">
      <li>
        <a href="#" class="object-header" ng-click="data.expandUser(user)" uib-tooltip="{{user._id}}">{{user.name}}</a>
        <div ng-show="user.expand" class="object-info">
          <p ng-if="user._id != undefined"><b>_id: </b>{{user._id}}</p>
          <p ng-if="user.firstName != undefined"><b>firstName: </b>{{user.firstName}}</p>
          <p ng-if="user.lastName != undefined"><b>lastName: </b>{{user.lastName}}</p>
          <p ng-if="user.userId != undefined"><b>userId: </b>{{user.userId}}</p>
          <p ng-if="user.fcmRegistrationId != undefined"><b>fcmRegistrationId: </b>{{user.fcmRegistrationId}}</p>
          <p ng-if="user.name != undefined"><b>name: </b>{{user.name}}</p>
          <p ng-if="user.email != undefined"><b>email: </b>{{user.email}}</p>
          <p ng-if="user.phone != undefined"><b>phone: </b>{{user.phone}}</p>
          <p ng-if="user.address != undefined"><b>address: </b>{{user.address}}</p>
          <p ng-if="user.city != undefined"><b>city: </b>{{user.city}}</p>
          <p ng-if="user.state != undefined"><b>state: </b>{{user.state}}</p>
          <p ng-if="user.zip != undefined"><b>zip: </b>{{user.zip}}</p>
          <p ng-if="user.homeLocation != undefined"><b>homeLocation: </b>{{user.homeLocation}}</p>
          <p ng-if="user.newRequestNotificationsEnabled != undefined"><b>newRequestNotificationsEnabled: </b>{{user.newRequestNotificationsEnabled}}</p>
          <p ng-if="user.notificationRadius != undefined"><b>notificationRadius: </b>{{user.notificationRadius}}</p>
          <p ng-if="user.currentLocationNotifications != undefined"><b>currentLocationNotifications: </b>{{user.currentLocationNotifications}}</p>
          <p ng-if="user.homeLocationNotifications != undefined"><b>homeLocationNotifications: </b>{{user.homeLocationNotifications}}</p>
          <p ng-if="user.pictureUrl != undefined"><b>pictureUrl: </b>{{user.pictureUrl}}</p>
          <p ng-if="user.customerId != undefined"><b>customerId: </b>{{user.customerId}}</p>
          <p ng-if="user.dateOfBirth != undefined"><b>dateOfBirth: </b>{{user.dateOfBirth}}</p>
          <p ng-if="user.tosAccepted != undefined"><b>tosAccepted: </b>{{user.tosAccepted}}</p>
          <p ng-if="user.timeTosAccepted != undefined"><b>timeTosAccepted: </b>{{user.timeTosAccepted}}</p>
          <p ng-if="user.tosAcceptIp != undefined"><b>tosAcceptIp: </b>{{user.tosAcceptIp}}</p>
          <p ng-if="user.stripeManagedAccountId != undefined"><b>stripeManagedAccountId: </b>{{user.stripeManagedAccountId}}</p>
          <p ng-if="user.stripeCustomerId != undefined"><b>stripeCustomerId: </b>{{user.stripeCustomerId}}</p>
          <p ng-if="user.stripeSecretKey != undefined"><b>stripeSecretKey: </b>{{user.stripeSecretKey}}</p>
          <p ng-if="user.stripePublishableKey != undefined"><b>stripePublishableKey: </b>{{user.stripePublishableKey}}</p>
          <p ng-if="user.userAgent != undefined"><b>userAgent: </b>{{user.userAgent}}</p>
          <p ng-if="user.authMethod != undefined"><b>authMethod: </b>{{user.authMethod}}</p>
          <p ng-if="user.createdDate != undefined"><b>createdDate: </b>{{user.createdDate}}</p>
        </div>
      </li>
    </ul>
    <div class="col-md-12 float-left table-footer">
      Displaying {{data.pagination.offset + 1}}-{{data.pagination.offset + data.pagination.limit}} of {{data.pagination.total}}
    </div>
  </div>
</div>
